<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid bg-primary">
       <h3><center>Latest release of Automatiko is 0.7.0 <a href="https://blog.automatiko.io/2021/08/26/release-0.7.0.html"><font color="white"><u>see release announcement</u></font></a></center></h3>
    </div>
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Automatiko</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#services">In nutshell</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Use cases</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="https://blog.automatiko.io">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    <!-- /.container-fluid -->
</nav>
