<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <p class="lead text-center">Event streams</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_event_streams" class="portfolio-box">
                    <img src="img/portfolio/1.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Events streams
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div class="col-lg-4 col-sm-6">
              <p class="lead text-center">Internet of Things</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_internet_of_things_iot" class="portfolio-box">
                    <img src="img/portfolio/2.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Internet of Things
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div class="col-lg-4 col-sm-6">
              <p class="lead text-center">Service orchestration</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_service_orchestration" class="portfolio-box">
                    <img src="img/portfolio/3.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Service orchestration
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div class="col-lg-4 col-sm-6">
              <p class="lead text-center">Human-Centric workflows</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_human_centric_workflows" class="portfolio-box">
                    <img src="img/portfolio/4.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Human-Centric workflows
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div class="col-lg-4 col-sm-6">
              <p class="lead text-center">Database records processing</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_database_record_processing" class="portfolio-box">
                    <img src="img/portfolio/5.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Database records processing
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
            <div class="col-lg-4 col-sm-6">
              <p class="lead text-center">Batch processing</p>
                <a href="https://docs.automatiko.io/main/0.6.0/use-cases.html#_batch_processing" class="portfolio-box">
                    <img src="img/portfolio/6.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Use case
                            </div>
                            <div class="project-name">
                                Batch processing
                            </div>
                        </div>
                    </div>
                </a>
                <hr/>
            </div>
        </div>
    </div>
</section>
