<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

<!-- Footer -->
<footer class="text-center text-lg-start">
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2020 Copyright: Automatiko
  </div>
  <div class="text-center p-3">
    Credits for head image: analytics PNG Designed By lulu from <a href="https://pngtree.com">Pngtree.com</a>
  </div>
</footer>
</html>
